CREMS_BRIDGE_PORT=8787
HASS_URL=http://homeassistant.local:8123
HASS_TOKEN=

# Optioneel: laat leeg voor automatische detectie.
HASS_IMPORT_POWER_ENTITY=
HASS_EXPORT_POWER_ENTITY=
HASS_IMPORT_ENERGY_ENTITY=
HASS_EXPORT_ENERGY_ENTITY=
HASS_VOLTAGE_ENTITY=
HASS_CURRENT_PRICE_ENTITY=
HASS_NEXT_PRICE_ENTITY=
